<%- include('header') -%>
<%- include('navbar') -%>

<div class="row m-2">
    <div class="col-12 col-xl-2 mt-4">
        <%- include('classifytagpanel.ejs') -%>
        <%- include('newtagpanel.ejs') -%>
    </div>
    <%- include('classifypanel.ejs') -%>

</div>
<script src="/classify.js"></script>
<%- include('footer') -%>